#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PYVERS :=  python2.7

%:
	dh $@ --with python2 --with sphinxdoc

override_dh_auto_build:

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf debian/doc/_build

override_dh_installchangelogs:
	dh_installchangelogs debian/changelog.upstream

override_dh_auto_install:
	dh_auto_install
	set -ex; \
	for py in $(PYVERS); do \
		$$py setup.py install --root debian/python-configparser \
				      --install-layout=deb; \
	done
	set -ex; \
		cd debian/doc; \
		make html; \
		cd -;
